<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Registro</title>
  </head>
  <body>
        <p><strong>Nome</strong> - <%= @contact.nome %> </p>
        <p><strong>Idade</strong> - <%= @contact.idade %> </p>
        <p><strong>Instituição</strong> - <%= @contact.instituicao %> </p>
        <p><strong>E-mail</strong> - <%= @contact.email %></p>
        <p><strong>Telefone</strong> - <%= @contact.celular %></p>
        <p><strong>Confirmação de leitura dos Termos</strong> - <%= @contact.confirm %></p>
  </body>
</html>
