<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pré-inscrição</title>
  </head>
  <body>
        <p><strong>Nome</strong> - <%= @inscricao.nome %> </p>
        <p><strong>Idade</strong> - <%= @inscricao.idade %> </p>
        <p><strong>Instituição</strong> - <%= @inscricao.instituicao %> </p>
        <p><strong>E-mail</strong> - <%= @inscricao.email %></p>
        <p><strong>Escolha</strong> - <%= @inscricao.choice %></p>
  </body>
</html>
